<form>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cadastro de Empresa</mat-card-title>
    </mat-card-header>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="company.name" name="name" required />
      <mat-icon matSuffix>apartment</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput [(ngModel)]="company.address" name="address" required />
      <mat-icon matSuffix>map</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input
        mask="(00) 00000-0000"
        required
        matInput
        [(ngModel)]="company.phone"
        name="phone"
      />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <br />
    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        class="button-cadastro"
        (click)="this.submit()"
      >
        ATUALIZAR
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="this.cancel()"
        class="button-cancel"
      >
        CANCELAR
      </button>
    </div>
  </mat-card>
</form>
