
<div class="row">
  <div class="table-card">

    <div class="icon">
      <img src="/assets/cash-coin.svg" alt="Cash Coin" >
    </div>

    <div class="Title-card">
      <h2>
        Entradas
      </h2>
    </div>

    <p class="green-value">{{ getTotalEntradas() | currency }}</p>

  </div>

  <div class="table-card">

    <div class="icon">
      <img src="/assets/cash-coin.svg" alt="Cash Coin" >
    </div>

    <div class="Title-card">
      <h2>
        Despesas
      </h2>
    </div>

    <p class="expense-value">{{ getTotalDespesas() | currency }}</p>

  </div>

  <div class="table-card" [ngClass]="{ 'green-value': getTotalEntradas() >= getTotalDespesas(), 'expense-value': getTotalEntradas() < getTotalDespesas() }">

    <div class="icon">
      <img src="/assets/cash-coin.svg" alt="Cash Coin" >
    </div>

    <div class="title-card">
      <h2>
        Total
      </h2>
    </div>

    <p>{{ getTotal() | currency }}</p>

  </div>
</div>

<app-cost></app-cost>

