.row {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.table-card {
  width: 25%;
  height: 4rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.align-elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.table-card,
.icon,
 h2,
 .green-icon,
.green-value,
.red-icon,
.expense-value,
.total-title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.icon {
  font-size: 25px; /* Aumente o valor do font-size para tornar o ícone mais visível */
}

 .green-icon {
  color: rgb(1, 244, 1);
}

.green-value {
  color: rgb(1, 244, 1);
}

.red-icon {
  color: red;
}

.expense-value {
  color: red;
}

.total-title {
  color: white;
}

// Seletor de mes

.changeMonthContainer{
  display: flex;
  flex-wrap: wrap;
}

.selected-month {
  padding: 1rem;
}

::ng-deep .mat-select-arrow-wrapper {
  display: none;
}