<form>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Exclusão de Custo</mat-card-title>
    </mat-card-header>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="cost.id" name="id" disabled />
      <mat-icon matSuffix>apartment</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput [(ngModel)]="cost.value" name="value" disabled />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="cost.description" name="description" disabled></textarea>
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [(ngModel)]="cost.date" name="date" disabled />
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>
    <br />
    <div class="actions">
      <button mat-raised-button color="warn" class="button-cadastro" (click)="delete()">
        EXCLUIR
      </button>
      <button mat-raised-button color="accent" (click)="cancel()" class="button-cancel">
        CANCELAR
      </button>
    </div>
  </mat-card>
</form>
