<form>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Atualização de Custo</mat-card-title>
    </mat-card-header>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="cost.id" name="id" required />
      <mat-icon matSuffix>label</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ID da Empresa</mat-label>
      <input matInput [(ngModel)]="cost.idCompany" name="idCompany" required />
      <mat-icon matSuffix>business</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput type="number" [(ngModel)]="cost.value" name="value" required />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="cost.description" name="description" required></textarea>
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput type="date" [(ngModel)]="cost.date" name="date" required />
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
    <br />
    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        class="button-cadastro"
        (click)="submit()"
      >
        ATUALIZAR
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="cancel()"
        class="button-cancel"
      >
        CANCELAR
      </button>
    </div>
  </mat-card>
</form>
